/**************************************
General
*************************************/

html, body {
    margin: 0;
    height: 100%;
    color: #505050;
}

body{
	margin: 0px;
	padding: 0px;
}

.center {
	text-align: center;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 55px;
	color: #505050;
	line-height: 60px;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 22px;
	color: #505050;
	line-height: 32px;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #505050;
	line-height: 32px;
}

img {
	max-width: 100%;
}


.vcenter {  /* vertical align for bootstrap items*/
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.simple-flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}



/**************************************
Form Modal Styling
*************************************/
.modal {
	background: rgba(100, 100, 100, 0.7);
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	background: linear-gradient(-180deg, #676767 0%, #383838 100%);

}

.modal-panel {
	width: 40%;
	height: 500px;	
}

.modal-panel > * {
	width: 100%;
}

.modal-close {
	color: white;
	position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
}

.modal-close:hover {
	color: rgb(65, 134, 247);	
}
/**************************************
General Form Styling
*************************************/

form-area {
	background-image: linear-gradient(-180deg, #676767 0%, #383838 100%);
	width: 100%;
}

.help-block{
	color: white;
}

.form-submit-holder {
	width: 80%;
	margin: auto;
}

.form-area {
	padding: 5%;
}

.error-holder {
	  background: #ffc8bf;
    border-color: #e93801;
    color: #e93801;
    width: 70%;
   	margin: auto
}

/*.direction-selection > * {*/
	
/*}*/
/**************************************
Landing.erb 
*************************************/

.homepage-flex-box-container {
	width: 70%;
	margin: 1% auto auto auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	/*font-size: 45px;*/
}

.homepage-flex-box-container > div {
	display: block;
}


.homepage-text-flex-box {
	display: flex;
	lex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
}


.homepage-info-container {
	width: 80%;
	margin: auto;
}

.landing-header {
	width: 100%;
	height: 20px;
	background-image: -webkit-linear-gradient(left, #1299F5 1%, #1173F0 100%);
	background-image: -o-linear-gradient(left, #1299F5 1%, #1173F0 100%);
	background-image: linear-gradient(to right, #1299F5 1%, #1173F0 100%);
}
.book-trip {
/* Rectangle 2: */
	background-image: -webkit-linear-gradient(left, #1299F5 1%, #1173F0 100%);
	background-image: -o-linear-gradient(left, #1299F5 1%, #1173F0 100%);
	background-image: linear-gradient(to right, #1299F5 1%, #1173F0 100%);
	border-radius: 6px;
	color: white;
}

.landing-logo {
	max-width: 20%;
}

.book-trip {
	border: none;
}

.base-head {
	margin: 2%;
}

.info-text-lg {
	font-size: 40px;
}

.amenitie {
	text-align: center;
	font-size: 18px;
	color: #505050;
	line-height: 32px;
	color: gray;
	
}

.amenitie i {
	color: #1080F2;
	font-size: 30px;
}

.fhq {
	margin: 0 -6% 0 0;
}

.fhq-question {
	font-size: 18px,
}

.fhq-answer {
	font-size: 15px,	
}


.fhq div {
	padding: 1%;
}

.landing-block {
	padding: 6% 0 6% 0;
}

.info-text-sm {
	margin: 0 0 4% 0;
}

.flex-reverse-wrap {
	flex-wrap: wrap-reverse;
}
@media (min-width: 766px) {
	.mobile-book-trip {
 		display: none;
 	}
}
@media (max-width: 765px) {
 	.homepage-info-container {
 		/*display: flex;
 		text-align: center;
 		align-items: center;
		align-content: center;
		justify-content: center;*/
		text-align: center;
 	}

 	 .homepage-info-container > * {
 	 		margin: auto;
 	 		text-align: center;
 		}

 	.book-trip {
 		display: none;
 	}

 	.landing-logo {
 		max-width: 40%;
 	}

 	.mobile-book-trip {
 		display: block;
 		margin: 3% auto 3% auto;
 	}
	.modal {
		position: fixed;
	}

 	.modal-panel {
 		/*position: fixed;*/
 		display: flex;
 		align-items: center;
		align-content: center;
		width: 100%;
/*		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 500;*/
		margin: auto;
		text-align: center;
	}

	.modal-close {
		font-size: 30px;
	}

	.confirmation-view {
		text-align: left;
		overflow: auto;
	}


}
/**************************************
Forms styling
*************************************/

.trip-type {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.trip-type div {
	background: none;
	border-color: none;
	color: white;
}

#roundtrip {
	
}

.trip-type .selected {
	background: rgb(65, 134, 247);	
}

.trip-type .non-selected:hover {
	background: rgba(40, 114, 227, 0.8);		
}


.direction-selection {
	width: 70%;
	margin: 1% auto auto auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	border: 3px solid gray;
	color: white;
	font-size: 45px;
}
.direction-selection div {
	margin: 10%;
}

.direction-selection > *{
	max-width: 100%;
}

.div-line {
	width: 100%; 
	height: 5px; 
	/*border-bottom: 3px solid gray; */
	text-align: center
}

.div-line-text {
	font-size: 15px; 
	padding: 0 10px;
	cursor: default;
	color: white;
}

.user-info-forms-holder{
	overflow: auto;
}



/*************************************
Confirmation Page
*************************************/
.confirmation-view {
	width: 80%;
	margin: auto;
}

.confirmation-view h4 {
	color: white;
}

.confirmation-view h5 {
	color: white;
}

/*************************************
Checkout confirmation
*************************************/
.stripe-checkout-success{
	text-align: center;
	width: 80%;
	margin: auto;
}

.stripe-checkout-success ul li i {
	color: rgb(74, 175, 70);
}
.stripe-checkout-success ul {
	list-style: none;
	text-align: center;
}
/*************************************
Footer
*************************************/
.footer {
	background: rgb(29, 36, 49);
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

/*.footer-options {
	display: flex;
	flex-wrap: wrap;
}*/

.footer > *{
	width: 80%;
}

.footer-options a {
	font-style: none;
	color: white;
}