/**************************************
General
*************************************/

@font-face {
    font-family: 'icomoon';
    src:    url('/./fonts/icomoon.eot?d5wkwp');
    src:    url('/./fonts/icomoon.eot?d5wkwp#iefix') format('embedded-opentype'),
        url('/./fonts/icomoon.ttf?d5wkwp') format('truetype'),
        url('/./fonts/icomoon.woff?d5wkwp') format('woff'),
        url('/./fonts/icomoon.svg?d5wkwp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark-circle:before {
    content: "\e907";
}

.icon-checkmark-circle: {
	font-size: 75px;
}
.icon-close:before {
    content: "\e906";
}

.icon-close:hover {
    cursor: pointer;
}
.icon-loop:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e905";
}

html, body {
    margin: 0;
    height: 100%;
    color: #505050;
}

body{
	margin: 0px;
	width: 100%;
	padding: 0px;
}

button {
	border: 0px !important;
}

button:hover {
	color: white !important;
}

button:active {
	color: white !important;
}

.center {
	text-align: center;
}

.btn-style  {
	background-image: -webkit-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: -o-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: linear-gradient( #1299F5 1%, #1173F0 100%);
	border-radius: 6px;
	color: white;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 55px;
	color: #505050;
	line-height: 60px;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 22px;
	color: #505050;
	line-height: 32px;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #505050;
	line-height: 32px;
}

img {
	max-width: 100%;
}


.vcenter {  /* vertical align for bootstrap items*/
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.simple-flex {
	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
	align-items: center;
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}



/**************************************
Form Modal Styling
*************************************/
.modal {
	background: rgba(100, 100, 100, 0.7);
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	background: linear-gradient(-180deg, #676767 0%, #383838 100%);
	overflow: auto;
}

.modal-panel {
	width: 40%;
  height: 625px;
}

.modal-panel > * {
	width: 100%;
}

.modal-close {
	color: white;
	position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
}

.modal-close:hover {
	color: rgb(65, 134, 247);
}
/**************************************
General Form Styling
*************************************/

form-area {
	background-image: linear-gradient(-180deg, #676767 0%, #383838 100%);
	width: 100%;
}

.help-block{
	color: white;
}

.form-submit-holder {
	width: 80%;
	margin: auto;
}

.form-area {
	padding: 5%;
}

.error-holder {
	  background: #ffc8bf;
    border-color: #e93801;
    color: #e93801;
    width: 70%;
   	margin: auto
}

/*.direction-selection > * {*/

/*}*/
/**************************************
Landing Header
*************************************/
.follow-nav {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 0;
	z-index: 500;
}

.switch-follow-nav-waypoint{
	position: absolute;
	top: 20px
}

#appear-follow-nav  {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	width: 100%;
	display: none;
  align-items: center;
	background: white;
}


#appear-follow-nav > * {
	padding: 1%;
}

#appear-follow-nav button:active {

}


.landing-header {
	/*width: 100%;*/
	height: 20px;
	background-image: -webkit-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: -o-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: linear-gradient( #1299F5 1%, #1173F0 100%);
}

.landing-logo {
	max-width: 60%;
}
.nav-logo {
	max-width: 30%
}

.base-head {
	margin: 1%;
	position: relative;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 1;
}


/**************************************
Landing Main
*************************************/


.homepage-flex-box-container {
	width: 70%;
	margin: 1% auto auto auto;
	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	/*font-size: 45px;*/
}

.homepage-flex-box-container > div {
	display: block;
}


.homepage-text-flex-box {
	 display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
}

.text-block {
	padding: 12% 0;
}

.homepage-text-flex-box > * {
	margin: 5% auto;
	white-space: nowrap;
	max-width: 100%;
}

.info-text-lg {
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	color: #505050;
	line-height: 40px;
}

.info-text-sm {
	/* SleepBus has nightly: */
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	color: #505050;
	line-height: 32px;
}

.homepage-text-flex-box .scroll-down{
	/* Scroll Down to Learn: */
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #505050;
	line-height: 32px;
}

.info-img img {
 width: 55%;
}

.info-0 {
		margin-top: 0;
}

.book-trip {
	background-image: -webkit-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: -o-linear-gradient( #1299F5 1%, #1173F0 100%);
	background-image: linear-gradient( #1299F5 1%, #1173F0 100%);
	border-radius: 6px;
	color: white;
}


.homepage-info-container {
	width: 80%;
	margin: auto;
}

.homepage-info-container  > * {
	margin: 0% auto -8% auto;
}


.book-trip {
	border: none;
}

.info-text-lg {
	font-size: 40px;
}

.landing-block {
	padding: 0 0 6% 0;
	margin: 3% auto;
}

.info-text-sm {
	margin: 0 0 4% 0;
}

.mobile-hr-display {
	display: none;
}

.amenitie {
	text-align: center;
	font-size: 18px;
	color: #505050;
	line-height: 32px;
	color: gray;

}

.amenitie i {
	color: #1080F2;
	font-size: 30px;
}

.fhq {
	margin: 0 -6% 0 0;
}

.fhq-question {
	font-size: 16px;
	font-weight: bold;
	color: #505050;
	line-height: 24px;
}

.fhq-answer {
	font-size: 14px;
	color: #505050;
	line-height: 24px;	
}
.question-block {
	padding: 3%;
}
.question-block div {
	padding: 2%;
}



.chat-box {
	border: 2px solid rgba(59, 59, 59, 0.3);
	border-radius: 10px;
	padding: 6% 0;
}


.info-0 {
	/*background-image: url("/images/SF.png");*/
	/*margin: 0 auto 5% auto;*/
}
.no-display-mobile {
	display: block;
}
.talk-with-tom {
	white-space: nowrap;	
}

.chat-with-tom {
	margin: 5% auto;
}

@media (min-width: 766px) {
	.mobile-book-trip {
 		display: none;
 	}
}

@media (max-width: 765px) {
	.mobile-hr-display {
		display: block;
/*		width: 200%;
  	margin-left: -50%*/
	}

	.no-display-mobile {
		display: none;
	}

	.footer-options {
		display: none;
	}

 	.homepage-info-container {
		text-align: center;
 	}
	.homepage-info-container > * {
		text-align: center;
	}

	.amenitie {
		margin: 20% auto;	
	}

	.scroll-down {
		display: none;
	}


	.info-0 img {
	display: none;
	}

	.info-img img {
 		width: 100%;
	}

 .homepage-info-container > * {
 		margin: auto;
 		text-align: center;
	}

 	.book-trip {
 		display: none;
 	}

 	.landing-logo {
 		max-width: 40%;
 	}

	.fhq {
		text-align: left;
	}

 	.mobile-book-trip {
	 	display: block;
	 	margin: 10% auto 15% auto;
	 	width: 100%;
	 	background-image: -webkit-linear-gradient(#74C947 0%, #4BC459 100%);
	 	background-image: -o-linear-gradient(#74C947 0%, #4BC459 100%);
	 	background-image: linear-gradient(#74C947 0%, #4BC459 100%);
	 	box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.13);
	 	border-radius: 4px;
	 	border: none;
 	}
	.modal {
		position: fixed;
	}

 	.modal-panel {
	 	display: -webkit-box;      
	  display: -moz-box;         
	  display: -ms-flexbox;      
	  display: -webkit-flex;     
	  display: flex;  
 		align-items: center;
		align-content: center;
		width: 100%;
/*		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 500;*/
		margin: auto;
		text-align: center;
	}

	.modal-close {
		font-size: 30px;
	}

	.confirmation-view {
		text-align: left;
		overflow: auto;
	}

	.flex-reverse-wrap {
		flex-wrap: wrap-reverse;
	}

	.nav-logo {
    max-width: 45%;
	}



}
/**************************************
Forms styling
*************************************/

.trip-type {
 	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  	
	align-items: center;
	align-content: center;
	justify-content: center;
}

.trip-type div {
	background: none;
	border-color: none;
	color: white;
}

#roundtrip {

}

.trip-type .selected {
	background: rgb(65, 134, 247);
}

.trip-type .non-selected:hover {
	background: rgba(40, 114, 227, 0.8);
}


.direction-selection {
	width: 70%;
	margin: 1% auto auto auto;
	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	border: 3px solid gray;
	color: white;
	font-size: 45px;
}
.direction-selection div {
	margin: 10%;
}

.direction-selection > *{
	max-width: 100%;
}

.div-line {
	width: 100%;
	height: 5px;
	/*border-bottom: 3px solid gray; */
	text-align: center
}

.div-line-text {
	font-size: 15px;
	padding: 0 10px;
	cursor: default;
	color: white;
}

.user-info-forms-holder{
	overflow: auto;
}



/*************************************
Confirmation Page
*************************************/
.confirmation-view {
	width: 80%;
	margin: auto;
}

.confirmation-view h4 {
	color: white;
}

.confirmation-view h5 {
	color: white;
}

/*************************************
Checkout confirmation
*************************************/
.stripe-checkout-success {
	text-align: center;
	width: 80%;
	margin: auto;
}

.stripe-checkout-success ul li i {
	color: rgb(74, 175, 70);
}

.stripe-checkout-success ul {
	list-style: none;
	text-align: center;
}

/*************************************
Retina Display
*************************************/
@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

	.image {

	    background: url(/path/to/my/highreslogo.png) no-repeat;

	    background-size: 200px 400px;
	}
}

/**************************************
Background Image Styling
*************************************/
.background-image-holder{
	opacity: .7;
	z-index: -100;
	position: absolute;
	width: 100%;
	display: inline-block;
	overflow: hidden;
}

.sf-background-image-holder{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sf-skyline {
	background: url(/images/SF@2x.png) no-repeat center center fixed; 
	position: relative;
  width: 100%;
  height: 100%;
}

/*
.la-background-image-holder {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.la-skyline {
	background: url(/images/LA@2x.png) no-repeat center center fixed; 
	position: relative;
  width: 100%;
  height: 100%;
}
*/
.skyline-background {
	width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 765px) {
/*	.sf-skyline {
		top: 20%;
	}

	.la-skyline {
		top: 90%;
	}*/
}


/*************************************
Footer
*************************************/
.footer {
	background: rgb(29, 36, 49);
	height: 50px;
	color: white;
	display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

/*.footer-options {
	display: flex;
	flex-wrap: wrap;
}*/

.footer > *{
	width: 80%;
}

.footer-options a {
	font-style: none;
	color: white;
}/