<div class="col-sm-6">
		<div class="info-text-lg">
			<div>Have a Question? <br> Chat with Tom</div>		
		</div>
			<div class="info-text-sm">
				Get on Depand Support from <br> the founding team.
			</div>
</div>
<div class="col-sm-6 center">
	<div class="chat-box simple-flex flex-column">
		<div><img src="/images/TOM.png" alt="Picture of CEO Tom"></div>
		<div>Tom Currier</div>
		<div>CEO</div>
	</div>
	<a href="mailto:sampleEmail@email.com">
		<div><button class="btn-style btn btn-lg btn-block chat-with-tom">Send a Message</button></div>
	</a>
</div>