<div class="container-fluid follow-nav">
	<div id="appear-follow-nav" class="row">
			<div class="col-sm-4 col-xs-6 center"><img class="nav-logo" src="/svgs/LOGO.svg" alt="sleepbus logo"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 col-xs-6 center">
				<button class="book-trip-no-disappear btn btn-style"> Book a Trip Now</button></div>
	</div>
	<div class="landing-header"></div>
</div>