<div class="footer container-fluid">
	<div class="row">
		<div class="footer-options col-sm-6 center">
			<a href="/support">Support | </a>
			<a href="/terms"> Terms & Conditions | </a>
			<a href="/privacy"> Privacy Policy </a>
		</div>
		<div class="trademark col-sm-6 center">
			© SleepBus, Inc.
		</div>
	</div>
</div>