<div class="form-area">
	<form action="*" class="trip-details-form">
		<label for="number_of_adults">How many adults are going?</label>
		<select name="number_of_adults" class="number_of_adults">
	  	<option value="1">1 Adult</option>
	  	<option value="2">2 Adults</option>
	  	<option value="3">3 Adults</option>
	  	<option value="4">4 Adults</option>
		</select>
		<br>

		<label for="depart_date">Depart from <span class="depart_city">San Francisco, Ca</span></label>
		<input type="date" name="depart-date" id="depart-date">
		<br>

		<label for="arrive_date">Return from <span class="arrive_city">Los Angleses, Ca</span></label>
		<input type="date" name="arrive-date"id="arrive-date">
		<br>

		<input type="submit" class="trip-details">
	</form>
	<br>
</div>
