<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/css/date_picker_style.css" rel="stylesheet">
 	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/92129196a4/UntitledProject1/style.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.js"></script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
