<div class="checkout-holder">
	<div class="direction-selection-holder">
		<div class="trip-type center">
			<div id="roundtrip" class="round btn btn-lg selected">
				Roundtrip
			</div>
			<div id="one-way"class="btn btn-lg non-selected">
				One Way
			</div>
		</div>
		<div class="direction-selection">
			<div>SF</div>
			<div><i class="icon-loop direction-selection-icon"></i></div>
			<div>LA</div>
		</div>
		<div class="div-line">
		      <span id="switch" class="div-line-text">
		        Switch
		      </span>
		</div>
	</div>
	<div class="error-holder">
		
	</div>
	<div class="form-area">
			<form action="*" class="trip-details-form">
				<div class="form-group">
					<!-- <label for="number_of_adults">How many adults are going?</label> -->
					<p class="help-block">How many adults are going?</p>
					<select name="number_of_adults" class="number_of_adults form-control">
				  	<option value="1">1 Adult</option>
				  	<option value="2">2 Adults</option>
				  	<option value="3">3 Adults</option>
				  	<option value="4">4 Adults</option>
				  	<option value="4">5 Adults</option>
				  	<option value="4">6 Adults</option>
				  	<option value="4">7 Adults</option>
				  	<option value="4">8 Adults</option>
				  	<option value="4">9 Adults</option>
				  	<option value="4">10 Adults</option>
				  	<option value="4">11 Adults</option>
				  	<option value="4">12 Adults</option>
					</select>
				</div>
				<div class="form-group">
						<p class="help-block">Depart from <span class="depart-city" data-city-id="1">San Francisco, CA</span></p>
							<input type="" readonly="true" name="depart-date" id="depart-date" class="form-control datepicker" style="display: none; position: relative; z-index: 100000;">
						<div class="center">
							<img src="/svgs/loading_svg.svg" alt="loading gif" class="datepicker-loading">
						</div>
				</div>
				<div class="form-group return-date-select">
					<p class="help-block">Return from <span class="return-city" data-city-id="2">Los Angeles, CA</span></p>
						<input type="" readonly="true" name="arrive-date" id="return-date" class="form-control datepicker" style="display: none; position: relative; z-index: 100000;">
						<div class="center">
							<img src="/svgs/loading_svg.svg" alt="loading gif" class="datepicker-loading">
						</div>
				</div>
			<div class="center">
					<p class="help-block">All buses depart at 11:00pm and arrive <br> at their destination by 6:00am the next day</p>
					<div class="form-submit-holder">
						<input type="submit" data-trip-type="round" class="trip-details btn btn-success btn-lg btn-block form-submit" value="Book now for $130">
					</div>
			</div>
			</form>
	</div>
	<div class="confirmation-view"></div>
</div>